@page "/register"
@using Wealth_Watcher.Model
@inject Wealth_Watcher.Services.IUserService userService
@inject NavigationManager NavigationManager

<style>
    .center-vertically {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Ensure items are centered horizontally in the container */
    }

    .flex-row {
        display: flex;
        gap: 20px;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: 100%; /* Take full width to allow centering */
    }

    .flex-item {
        flex: 1;
    }
</style>



<MudPaper Elevation="1" Class="pa-4 mx-auto center-vertically" Style="max-width: 500px; margin-top:150px;">
    <div class="text-center">
        <div class="flex-row text-center">
            <img src="../Images/logo.png" alt="Logo" style="height: 40px; width: 40px;">
            <MudText Typo="Typo.body1" style="color : #6a994e">Wealth Watcher</MudText>
    </div>
    <MudText Typo="Typo.h5" GutterBottom="true">Create</MudText>
    <MudText Typo="Typo.h5" GutterBottom="true">WealthWatcher account</MudText>
    </div>
    <MudForm @ref="form">
        <MudTextField Label="Username" Variant="Variant.Outlined" FullWidth @bind-Value="user.userName" Required="true" RequiredError="Username is required." />
        <MudTextField Label="Password" Variant="Variant.Outlined" FullWidth InputType="InputType.Password" @bind-Value="user.password" Required="true" RequiredError="Password is required." HelperText="Enter at least 8+ characters" />
        <MudTextField Label="ReType-Password" Variant="Variant.Outlined" FullWidth InputType="InputType.Password" @bind-Value="confirmPassword" Required="true" RequiredError="Please confirm your password." />


        <div class="flex-row" style="margin-bottom: 20px;">
        <MudSelect @bind-Value="user.currencyType" Label="Currency" Placeholder="Please Select" Class="flex-item">
            <MudSelectItem Value="@("USD")">USD</MudSelectItem>
            <MudSelectItem Value="@("GBP")">GBP</MudSelectItem>
            <MudSelectItem Value="@("EUR")">EUR</MudSelectItem>
        </MudSelect>

        <MudSelect @bind-Value="user.gender" Label="Gender" Placeholder="Please Select" Class="flex-item">
            <MudSelectItem Value="@("Male")">Male</MudSelectItem>
            <MudSelectItem Value="@("Female")">Female</MudSelectItem>
            <MudSelectItem Value="@("Other")">Other</MudSelectItem>
        </MudSelect>
        </div>
        <MudButton Variant="Variant.Filled" Style="background-color: #6a994e; color: white;" FullWidth OnClick="@HandleRegistration">Sign up</MudButton>
    </MudForm>
    <h5>@ErrorMessage</h5>
    <div class="mt-4 text-center">
        Already have an account? <MudButton Style="color: #6a994e;" Href="/">Sign in</MudButton>
    </div>
</MudPaper>

@code {
    private User user = new User();

    private string confirmPassword;

    private MudForm form;

    public string ErrorMessage;

    private async Task HandleRegistration()

    {
        await form.Validate();

        if (!form.IsValid)
        {

            ErrorMessage = "Form Not Valid";

        }
        if (user.password == confirmPassword)
        {

            userService.HandleRegistration(user);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ErrorMessage = "Passwords do not match.";
        }

    }
}
