@page "/transactions"
@using MudBlazor
@inject ISnackbar Snackbar
@using Wealth_Watcher.Model
@inject Wealth_Watcher.Services.ITransactionService transactionService
@inject IDialogService DialogService

<!-- Container for the transaction history section -->
<MudContainer>
    <MudText Typo="Typo.h4" GutterBottom="true">Transaction History</MudText>

    <!-- Filters for transactions -->
    <MudPaper Elevation="1" Class="pa-4 my-2">
        <MudGrid Justify="Justify.SpaceBetween">
            <!-- Date range selector -->
            <MudItem xs="12" sm="6" md="3">
                <MudSelect Label="Date Range" T="string" @bind-Value="selectedDateRange">
                    <MudSelectItem Value=@("today") Text="Today" />
                    <MudSelectItem Value=@("this_week") Text="This Week" />
                    <MudSelectItem Value=@("this_month") Text="This Month" />
                    <MudSelectItem Value=@("this_year") Text="This Year" />
                    <MudSelectItem Value=@("All_Time") Text="All Time" />
                </MudSelect>
            </MudItem>
            <!-- Transaction type filter -->
            <MudItem xs="12" sm="6" md="3">
                <MudSelect Label="Type" T="string" @bind-Value="selectedType">
                    <MudSelectItem Value=@("All") Text="All" />
                    <MudSelectItem Value=@("Inflow") Text="Inflow" />
                    <MudSelectItem Value=@("Outflow") Text="Outflow" />
                </MudSelect>
            </MudItem>
            <!-- Tag filter -->
            <MudItem xs="12" sm="6" md="3">
                <MudSelect @bind-Value="selectedTag" Label="Tags" FullWidth>
                    <MudSelectItem Value=@("Personal") />
                    <MudSelectItem Value=@("Business") />
                    <MudSelectItem Value=@("Monthly") />
                    <MudSelectItem Value=@("Rent") />
                    <MudSelectItem Value=@("Grocery") />
                    <MudSelectItem Value=@("Salary") />
                    <MudSelectItem Value=@("Other") />
                    <MudSelectItem Value=@("All") Text="All" />
                </MudSelect>
            </MudItem>
            <!-- Search field -->
            <MudItem xs="12" sm="6" md="3">
                <MudTextField Label="Search by name" @bind-Value="searchText" AdornmentIcon="Icons.Filled.Search" Adornment="Adornment.End" />
            </MudItem>
        </MudGrid>
    </MudPaper>

    <!-- Transaction summary and sorting options -->
    <MudGrid Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mt-2">
        <MudItem>
            <MudText Typo="Typo.h6">Total Transactions:  @sortedTransactions.Count()</MudText>
        </MudItem>
        <MudItem>
            <MudText Typo="Typo.h6">Transactions Total:  @transactionAmount</MudText>
        </MudItem>
        <!-- Sorting selector -->
        <MudItem>
            <MudSelect T="string" @bind-Value="selectedSortOption" Label="Sort by">
                <MudSelectItem Value=@("Code") Text="Code" />
                <MudSelectItem Value=@("Date") Text="Date" />
            </MudSelect>
        </MudItem>
    </MudGrid>
    <!-- Transactions table -->
    <MudTable T="Transaction" Items="@sortedTransactions" Dense Bordered Striped>
        <HeaderContent>
            <MudTh>@transactionCode</MudTh>
            <MudTh>@transactionDate</MudTh>
            <MudTh>@Title</MudTh>
            <MudTh>@Tags</MudTh>
            <MudTh>@Type</MudTh>
            <MudTh>@TotalPrice</MudTh>
            <MudTh>Add Note</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@transactionCode>@context.transactionCode</MudTd>
            <MudTd DataLabel=@transactionDate>@context.transactionDate</MudTd>
            <MudTd DataLabel=@Title>@context.title</MudTd>
            <MudTd DataLabel=@Type>@context.tags</MudTd>
            <MudTd DataLabel="Type">@context.type</MudTd>
            <MudTd DataLabel="Total Amount">@context.amount.ToString("C")</MudTd>
            <MudTd>
                <MudButton OnClick="() => OpenAddNoteDialog(context)" Color="Color.Primary" Size="Size.Small">Note</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>

<!-- Modal for adding notes to transactions -->
@if (showModal)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Note to Transaction: @selectedTransaction.title</h5>
                    <button type="button" class="close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" @bind="currentNote" placeholder=@selectedTransaction.note />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveNote">Save Note</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    // Variables and methods to manage the transaction view
    private string selectedSortOption = "Code";
    private string selectedType = "All";
    private string selectedTag = "All";
    private string selectedDateRange = "All_Time";
    private String transactionCode = "Transaction Code";
    private String transactionDate = "Transaction Date";
    private String Title = "Title";
    private String Tags = "Tags";
    private String Type = "Type";
    private String TotalPrice = "Total Price";
    private MudTable<Transaction> table;
    private List<Transaction> transactions;
    private string searchText;
    private IEnumerable<Transaction> sortedTransactions => SortTransactions(FilterTransactions());
    private decimal transactionAmount => sortedTransactions
    .Where(t => t.type == "Inflow" || t.type == "Debt")
    .Sum(t => t.amount) -
    sortedTransactions
    .Where(t => t.type == "Outflow")
    .Sum(t => t.amount);
    private bool showModal = false;
    private string currentNote;
    private Transaction selectedTransaction;
    private bool IsInDateRange(Transaction transaction)
    {
        var now = DateTime.Now;
        switch (selectedDateRange)
        {
            case "today":
                return transaction.transactionDate == now.Date;
            case "this_week":
                var startOfWeek = now.AddDays(-(int)now.DayOfWeek);
                var endOfWeek = startOfWeek.AddDays(7).AddSeconds(-1);
                return transaction.transactionDate >= startOfWeek && transaction.transactionDate <= endOfWeek;
            case "this_month":
                var startOfMonth = new DateTime(now.Year, now.Month, 1);
                var endOfMonth = startOfMonth.AddMonths(1).AddDays(-1);
                return transaction.transactionDate >= startOfMonth && transaction.transactionDate <= endOfMonth;
            case "this_year":
                var startOfYear = new DateTime(now.Year, 1, 1);
                var endOfYear = new DateTime(now.Year + 1, 1, 1).AddDays(-1);
                return transaction.transactionDate >= startOfYear && transaction.transactionDate <= endOfYear;
            default:
                return true;
        }
    }


    protected override async Task OnInitializedAsync()
    {
        transactions = transactionService.GetAllTransactionsAsync();
    }
    private IEnumerable<Transaction> FilterTransactions()
    {
        var filtered = transactions.AsQueryable();

        if (!string.IsNullOrEmpty(selectedType) && selectedType != "All")
        {
            filtered = filtered.Where(t => t.type == selectedType);
        }

        if (selectedTag != null && selectedTag.Any() && selectedTag != "All")
        {
            filtered = filtered.Where(t => t.tags == selectedTag);
        }
        if (!string.IsNullOrEmpty(searchText))
        {
            filtered = filtered.Where(t => t.title != null && t.title.Contains(searchText, StringComparison.OrdinalIgnoreCase));
        }

        return filtered.Where(t => IsInDateRange(t));
    }
    private IEnumerable<Transaction> SortTransactions(IEnumerable<Transaction> filteredTransactions)
    {
        switch (selectedSortOption)
        {
            case "Code":
                return filteredTransactions.OrderBy(t => t.transactionCode);
            case "Date":
                return filteredTransactions.OrderBy(t => t.transactionDate);
            default:
                return transactions;
        }
    }
    private void OpenAddNoteDialog(Transaction transaction)
    {
        selectedTransaction = transaction;
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private void SaveNote()
    {
        if (!string.IsNullOrWhiteSpace(currentNote))
        {
            transactionService.SaveNoteForTransaction(selectedTransaction.transactionCode, currentNote);
            Snackbar.Add("Note added successfully!", Severity.Success);
        }
        CloseModal();
    }

}
